#content 		  { width:800px; 
                    float:left; 
                    font-family:'Agency FB'; 
                    font-size:18px; 
                    text-align:center; }

h2          { font-size:20px; 
              margin-bottom:5px; 
              color:#0094ff; 
              text-align:center; 
              font-family:Agatha; 
              font-size: 25px; }

h3          {  font-family: 'Agency FB';
               font-size: 20px;
               color: #b200ff;
               margin-left: 320px; }

pre         { font-family:'Agency FB'; 
              font-size:20px; 
              color:#b200ff; 
              text-align:center; }

p input     { width: 280px;
              height: 28px;
              margin-left: 320px;
              margin-top: 1px;
              font-family: 'Agency FB';
              font-size: 18px;
              color: #b200ff; }

textarea     { width: 280px;
               height: 80px;
               margin-left: 320px;
               font-family: 'Agency FB';
               font-size: 18px;
               color: #b200ff; }

#btnSendEmail     { width: 80px;
                    height: 25px;
                    margin-left: 400px;
                    font-size: 18px;
                    font-family: "Agency FB";
                    color: #B200FF; }
    

#btnReset       { width: 80px;
                  height: 25px;
                  margin-left: 400px;
                  color: #B200FF;
                  font-family: "Agency FB";
                  font-size: 18px; }

#googleMap        { margin-left:200px; 
                    margin-top:20px; 
                    margin-bottom:20px; 
                    width:500px; 
                    height:380px;
                    color:#b200ff;
                    font-family:'Agency FB';
                    font-size:15px; }


