<?xml version="1.0"?>
<configuration>
  <connectStrings>
    <remove name="LocalSqlServer">
      <add name="ConnectionStringName"
           providerName="System.data.SqlClient"
           connectionString="Data Source=ServerName;Initial Catalog=DatabaseName;Integrated Security=False;User Id=userid;Password=password;
           MultipleActiveResultSets=True"/>
    </remove>
    
  </connectStrings>
  
  <system.web>
      <authorization>
        <allow roles="canEdit"/>
        <deny users="?"/>
      </authorization>

      <authentication mode="Forms"></authentication>
      <roleManager enabled="true"></roleManager>
    </system.web>
</configuration>
